.App {
  text-align: center;
}

header {
  background-color: #1976d2;
  padding: 1rem;
  color: #fff;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}



.search-bar-container {
 
  max-width: 500px;
  margin: 1rem auto;
}

