.App {
  text-align: center;
}



input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.search-bar-container {
  max-width: 500px;
  margin: 1rem auto;
}

.weather-card{
  max-width: 700px;
  margin: auto;
}

.header{
  flex-grow: 1;
  text-align: center;
  color: rgb(220 219 219);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}